Source: apds
Section: unknown
Priority: optional
Maintainer: John Smith <johnsmith@yahoo.com>
Build-Depends: debhelper (>= 7), libgnutls-dev (>= 2.4.2), bison (>= 2.3), ragel (>= 6.2), flex (>= 2.5.35)
Standards-Version: 3.8.2

Package: apds
Architecture: any
Depends: ${shlibs:Depends}
Description: Vyatta update server
 Vyatta update server.

Package: apdp
Architecture: any
Depends: ${shlibs:Depends}
Description: Vyatta update signer
 Vyatta update signer.
