#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

BUILDDIR := debian/tmp
DESTDIR := ${CURDIR}/${BUILDDIR}

build: build-stamp

build-stamp:
	dh_testdir

	$(MAKE) server

	touch $@

clean: clean-patched

clean-patched:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	rm -fr $(DESTDIR)
	make clean

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	$(MAKE) DESTDIR=$(DESTDIR) install_server

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do here

# Build architecture-dependent files here.
binary-arch: apdp apds

apds: build install
	dh_testdir
	dh_testroot
	dh_installdirs -a
	dh_installdocs -a -p$@
	dh_installexamples -a -p$@
	dh_install --package=$@ ${BUILDDIR}/usr/bin/apds usr/bin/
	dh_install --package=$@ ${BUILDDIR}/etc/apds/* etc/apds/
	dh_install --package=$@ ${BUILDDIR}/etc/init.d/apds etc/init.d/
	dh_link -a -p$@
	dh_strip -a -p$@
	dh_compress -a -p$@
	dh_fixperms -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

apdp: build install
	dh_testdir
	dh_testroot
	dh_installdirs -a
	dh_installdocs -a -p$@
	dh_installexamples -a -p$@
	dh_install --package=$@ ${BUILDDIR}/usr/bin/apdp usr/bin/
	dh_install --package=$@ ${BUILDDIR}/etc/apdp/* etc/apdp/
	dh_install --package=$@ ${BUILDDIR}/usr/lib/apdp/* usr/lib/apdp/
	dh_install --package=$@ ${BUILDDIR}/etc/init.d/apds-verificator etc/init.d/
	dh_link -a -p$@
	dh_strip -a -p$@
	dh_compress -a -p$@
	dh_fixperms -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
